# **SERIES**

Series merupakan struktur data dasar dalam Pandas
yang dapat berisi tipe data seperti integer, string, dll. Dan mendukung tipe data sama 
atau campuran. Contoh series object

In [21]:
# Membuat Series 

import pandas as pd
data = [1,2,3,4]
series1 = pd.Series(data)
series1

0    1
1    2
2    3
3    4
dtype: int64

In [20]:
# Cek Tipe Struktur Data Series atau Bukan

type(series1)

pandas.core.series.Series

In [19]:
# Ubah Nama Index

series1 = pd.Series(data, index = ['a','b','c','d'])
series1

a    1
b    2
c    3
d    4
dtype: int64

# **DATA FRAME**

DataFrame merupakan array dua dimensi dengan baris dan kolom. Struktur data ini 
merupakan cara paling standar untuk menyimpan data. Secara sederhana, DataFrame 
merupakan tabel/data tabular. Setiap kolom pada DataFrame merupakan objek dari 
Series, dan baris terdiri dari elemen yang ada pada Series. Contoh DataFrame.

In [18]:
# DataFrame Menggunakan List

import pandas as pd
data = [1,2,3,4]
df = pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4

In [17]:
# DataFrame Menggunakan Dictionary

dictionary = {'buah ':['Apel','Jeruk', 'Lemon'], 'Jumlah':[100,80,65]}
df = pd.DataFrame(dictionary)
df

   buah   Jumlah
0   Apel     100
1  Jeruk      80
2  Lemon      65

In [16]:
# DataFrame Menggunakan List dengan Tipe Data Campuran

import pandas as pd
data = [['Amsyar',80,75,85,80.5],
        ['Indra',70,75,80,76.6],
        ['Fahmi',60,65,70,68.5]]
index = [1,2,3]
kolom = ['Nama','Tugas','UTS','UAS','Rata-Rata']
df = pd.DataFrame(data, index, kolom)
df

     Nama  Tugas  UTS  UAS  Rata-Rata
1  Amsyar     80   75   85       80.5
2   Indra     70   75   80       76.6
3   Fahmi     60   65   70       68.5

In [22]:
# DataFrame Menggunakan List & Dictionary dengan Tipe Data Campuran

import pandas as pd
nama = ['Amsyar','Indra','Fahmi']
tugas = [80,70,60]
uts = [75,75,65]
uas = [85,80,70]
ratarata = [80.5,76.6,68.5]
df2 = pd.DataFrame({'Nama':nama,'Tugas':tugas,'UTS':uts,'UAS':uas,'Rata-Rata':ratarata})
df2

     Nama  Tugas  UTS  UAS  Rata-Rata
0  Amsyar     80   75   85       80.5
1   Indra     70   75   80       76.6
2   Fahmi     60   65   70       68.5

# **Merge, Join, & Concatenate DataFrame**

Ketiga fungsi ini pengertiannya adalah operasi penggabungan. Perbedaannya adalah
sebagai berikut.

# **Merge**

Merge adalah operasi penggabungan antara DataFrame Objects.

In [1]:
# DATA PERTAMA
import pandas as pd
nama = ['Asmega','Diana','Efi']
tugas = [90,85,80]
jurusan = ['MJ','EP','AK']
df3 = pd.DataFrame({'Nama':nama, 'Tugas':tugas, 'Jurusan':jurusan})
df3

     Nama  Tugas Jurusan
0  Asmega     90      MJ
1   Diana     85      EP
2     Efi     80      AK

In [7]:
# DATA KEDUA
nama = ['Asmega','Diana','Vina']
uts = [85,80,75]
jurusan = ['MJ','EP','PS']
df4 = pd.DataFrame({'Nama':nama, 'UTS':uts, 'Jurusan':jurusan})
df4

     Nama  UTS Jurusan
0  Asmega   85      MJ
1   Diana   80      EP
2    Vina   75      PS

In [8]:
# INNER MERGE
df3.merge(df4)

     Nama  Tugas Jurusan  UTS
0  Asmega     90      MJ   85
1   Diana     85      EP   80

In [10]:
# LEFT MERGE
df3.merge(df4, on='Nama', how='left')

     Nama  Tugas Jurusan_x   UTS Jurusan_y
0  Asmega     90        MJ  85.0        MJ
1   Diana     85        EP  80.0        EP
2     Efi     80        AK   NaN       NaN

In [11]:
# RIGHT MERGE
df3.merge(df4, on='Nama', how='right')

     Nama  Tugas Jurusan_x  UTS Jurusan_y
0  Asmega   90.0        MJ   85        MJ
1   Diana   85.0        EP   80        EP
2    Vina    NaN       NaN   75        PS

In [12]:
# OUTER MERGE
df3.merge(df4, on='Nama', how='outer')

     Nama  Tugas Jurusan_x   UTS Jurusan_y
0  Asmega   90.0        MJ  85.0        MJ
1   Diana   85.0        EP  80.0        EP
2     Efi   80.0        AK   NaN       NaN
3    Vina    NaN       NaN  75.0        PS

# **Join**

Join adalah operasi penggabungan dengan menggunakan index.

In [13]:
# DATA PERTAMA
nama = ['Asmega','Diana','Efi']
tugas = [90,85,80]
jurusan = ['MJ','EP','AK']
df3 = pd.DataFrame({'Nama':nama, 'Tugas':tugas, 'Jurusan':jurusan}, index=['L1','L2','L3'])
df3

      Nama  Tugas Jurusan
L1  Asmega     90      MJ
L2   Diana     85      EP
L3     Efi     80      AK

In [15]:
# DATA KEDUA
nama = ['Asmega','Diana','Vina']
uts = [85,80,75]
jurusan = ['MJ','EP','PS']
df4 = pd.DataFrame({'Nama B':nama, 'UTS':uts, 'Jurusan B':jurusan}, index=['L2','L3','L4'])
df4

    Nama B  UTS Jurusan B
L2  Asmega   85        MJ
L3   Diana   80        EP
L4    Vina   75        PS

In [16]:
# INNER JOIN
df3.join(df4, how='inner')

     Nama  Tugas Jurusan  Nama B  UTS Jurusan B
L2  Diana     85      EP  Asmega   85        MJ
L3    Efi     80      AK   Diana   80        EP

In [17]:
# LEFT JOIN
df3.join(df4, how='left')

      Nama  Tugas Jurusan  Nama B   UTS Jurusan B
L1  Asmega     90      MJ     NaN   NaN       NaN
L2   Diana     85      EP  Asmega  85.0        MJ
L3     Efi     80      AK   Diana  80.0        EP

In [18]:
# RIGHT JOIN
df3.join(df4, how='right')

     Nama  Tugas Jurusan  Nama B  UTS Jurusan B
L2  Diana   85.0      EP  Asmega   85        MJ
L3    Efi   80.0      AK   Diana   80        EP
L4    NaN    NaN     NaN    Vina   75        PS

In [22]:
# OUTER JOIN
df3.join(df4, how='outer')

      Nama  Tugas Jurusan  Nama B   UTS Jurusan B
L1  Asmega   90.0      MJ     NaN   NaN       NaN
L2   Diana   85.0      EP  Asmega  85.0        MJ
L3     Efi   80.0      AK   Diana  80.0        EP
L4     NaN    NaN     NaN    Vina  75.0        PS

# **Concatenate**

Concatenate adalah operasi penggabungan objek DataFrame secara vertical

In [21]:
pd.concat([df3,df4], sort='False')

   Jurusan Jurusan B    Nama  Nama B  Tugas   UTS
L1      MJ       NaN  Asmega     NaN   90.0   NaN
L2      EP       NaN   Diana     NaN   85.0   NaN
L3      AK       NaN     Efi     NaN   80.0   NaN
L2     NaN        MJ     NaN  Asmega    NaN  85.0
L3     NaN        EP     NaN   Diana    NaN  80.0
L4     NaN        PS     NaN    Vina    NaN  75.0

# **Pandas DataFrame - Import Data CSV**

Pada tahap ini akan dibahas mengenai cara import data CSV ke dalam Panda DataFrame
dan mengolah datanya.

# **Import Data CSV**

In [25]:
import pandas as pd

# membaca dataset dan store ke dataframe
sample = pd.read_csv("Iris.csv")

# print
sample

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

# **Macam - Macam Operasi**

Fungsi-fungsi yang dapat dilakukan oleh Pandas DataFrame adalah sebagai berikut.

# **1. Head**

In [30]:
# Head(), menampilkan 5 records pertama
sample.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

# **2. Tail()**

In [29]:
# Tail(), menampilkan 5 records terakhir
sample.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

# **3. Shape**

In [32]:
# Shape, menampilkan jumlah baris dan kolom pada DataFrame
sample.shape

(150, 6)

# **4. Mean, Median, dan Standar Deviasi**

In [34]:
# Mean adaah rata-rata
sample.mean()

<ipython-input-34-d461edef4642>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  sample.mean()

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

In [35]:
# Median adalah nilai tengah dari data yang telah diurut dari terkecil hingga terbesar
sample.median()

<ipython-input-35-84e012aa3f86>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  sample.median()

Id               75.50
SepalLengthCm     5.80
SepalWidthCm      3.00
PetalLengthCm     4.35
PetalWidthCm      1.30
dtype: float64

In [36]:
# Standar Deviasi
sample.std()

<ipython-input-36-c7bd00a3dc45>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  sample.std()

Id               43.445368
SepalLengthCm     0.828066
SepalWidthCm      0.433594
PetalLengthCm     1.764420
PetalWidthCm      0.763161
dtype: float64

# **5. Max, Min, Count**

In [37]:
# Max untuk mencari nilai tertinggi
sample.max()

Id                          150
SepalLengthCm               7.9
SepalWidthCm                4.4
PetalLengthCm               6.9
PetalWidthCm                2.5
Species          Iris-virginica
dtype: object

In [38]:
# Min untuk mencari nilai terendah
sample.min()

Id                         1
SepalLengthCm            4.3
SepalWidthCm             2.0
PetalLengthCm            1.0
PetalWidthCm             0.1
Species          Iris-setosa
dtype: object

In [39]:
# Jumlah non null record pada setiap kolom
sample.count()

Id               150
SepalLengthCm    150
SepalWidthCm     150
PetalLengthCm    150
PetalWidthCm     150
Species          150
dtype: int64

# **6. Describe()**

In [40]:
# Describe adalah ringkasan statistik data
sample.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

# **7. Rename dan Drop Kolom**

In [41]:
# Rename Kolom
sample = sample.rename(columns={'Id':'No Induk'})
sample

,No Induk,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [43]:
# Drop atau menghilangkan kolom
sample = sample.drop(columns=['Species'])
sample

     No Induk  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0           1            5.1           3.5            1.4           0.2
1           2            4.9           3.0            1.4           0.2
2           3            4.7           3.2            1.3           0.2
3           4            4.6           3.1            1.5           0.2
4           5            5.0           3.6            1.4           0.2
..        ...            ...           ...            ...           ...
145       146            6.7           3.0            5.2           2.3
146       147            6.3           2.5            5.0           1.9
147       148            6.5           3.0            5.2           2.0
148       149            6.2           3.4            5.4           2.3
149       150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]

# **9. Loc**

In [51]:
# Menampilkan record 1 kolom 
sample.loc[:,"No Induk"]

0        1
1        2
2        3
3        4
4        5
      ...
145    146
146    147
147    148
148    149
149    150
Name: No Induk, Length: 150, dtype: int64

In [52]:
# Menampilan record dari indeks ke-0 sampai ke-3 dari kolom
sample.loc[0:3,:"No Induk"]

   No Induk
0         1
1         2
2         3
3         4

In [55]:
# Menampilan record sampai indeks ke-3 dari kolom No Induk dan SepalLengthCm
sample.loc[:3,"No Induk":"SepalLengthCm"]

   No Induk  SepalLengthCm
0         1            5.1
1         2            4.9
2         3            4.7
3         4            4.6

# **10. Mengisi nilai sama untuk 1 kolom**

In [57]:
# Mengisi nilai 9 untuk kolom PetalLengthCm
sample['PetalLengthCm']=9
sample

     No Induk  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0           1            5.1           3.5              9           0.2
1           2            4.9           3.0              9           0.2
2           3            4.7           3.2              9           0.2
3           4            4.6           3.1              9           0.2
4           5            5.0           3.6              9           0.2
..        ...            ...           ...            ...           ...
145       146            6.7           3.0              9           2.3
146       147            6.3           2.5              9           1.9
147       148            6.5           3.0              9           2.0
148       149            6.2           3.4              9           2.3
149       150            5.9           3.0              9           1.8

[150 rows x 5 columns]

# **11. Sorting**

In [60]:
# Sorting berdasarkan ascending dari kolom SepalWidthCm
sample.sort_values(by='SepalWidthCm')

     No Induk  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
60         61            5.0           2.0              9           1.0
62         63            6.0           2.2              9           1.0
119       120            6.0           2.2              9           1.5
68         69            6.2           2.2              9           1.5
41         42            4.5           2.3              9           0.3
..        ...            ...           ...            ...           ...
16         17            5.4           3.9              9           0.4
14         15            5.8           4.0              9           0.2
32         33            5.2           4.1              9           0.1
33         34            5.5           4.2              9           0.2
15         16            5.7           4.4              9           0.4

[150 rows x 5 columns]

In [61]:
# Sorting berdasarkan descending dari kolom SepalWidthCm
sample.sort_values(by='SepalWidthCm', ascending=False)

     No Induk  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
15         16            5.7           4.4              9           0.4
33         34            5.5           4.2              9           0.2
32         33            5.2           4.1              9           0.1
14         15            5.8           4.0              9           0.2
16         17            5.4           3.9              9           0.4
..        ...            ...           ...            ...           ...
87         88            6.3           2.3              9           1.3
62         63            6.0           2.2              9           1.0
68         69            6.2           2.2              9           1.5
119       120            6.0           2.2              9           1.5
60         61            5.0           2.0              9           1.0

[150 rows x 5 columns]

# **12. Filter**

In [62]:
# Filter record yang PetalWidthCm lebih dari 1.2 dan akan menampilkan status True or False
sample['PetalWidthCm'] > 1.2

0      False
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: PetalWidthCm, Length: 150, dtype: bool

In [64]:
# Filter, kemudian tampilkan record-nya
filter1 = sample['PetalWidthCm'] > 1.2
filterbaru = sample[filter1]
filterbaru

     No Induk  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
50         51            7.0           3.2              9           1.4
51         52            6.4           3.2              9           1.5
52         53            6.9           3.1              9           1.5
53         54            5.5           2.3              9           1.3
54         55            6.5           2.8              9           1.5
..        ...            ...           ...            ...           ...
145       146            6.7           3.0              9           2.3
146       147            6.3           2.5              9           1.9
147       148            6.5           3.0              9           2.0
148       149            6.2           3.4              9           2.3
149       150            5.9           3.0              9           1.8

[85 rows x 5 columns]

In [67]:
# Filter dengan 2 paramaeter 
filter2 = (sample['PetalWidthCm'] > 1.2) & (sample['No Induk'] == 'PetalLengthCm')
filterbaru2 = sample[filter2]
filterbaru2

Empty DataFrame
Columns: [No Induk, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm]
Index: []